<div class="container">

  <div class="container-fluid jumbotron text-center">
    <h1>Edit Trip</h1>
  </div>

  <div class="container-fluid jumbotron form-horizontal text-left">

    <%= form_for (@trip) do |f| %>

        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: 'form-control' %></br> </br>

        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: 'form-control' %></br> </br>

        <%= f.label :sherpa_owner %>
        <%= f.text_field :sherpa_owner, class: 'form-control' %></br> </br>

        <%= f.label :trip_message %>
        <%= f.text_area :trip_message, class: 'form-control' %></br> </br>

        <%= f.label :date_of_travel %>
        <%= f.date_select :date_of_travel, class: 'form-control' %></br> </br>

        <%= f.submit "Create Trip", class:"btn btn-sherpa-primary" %>
    <% end %>

  </div>
</div>