<div class="container">
  <div class="container-fluid jumbotron text-center">
    <h1>New Trip Setup</h1>

  </div>

  <div class="container-fluid jumbotron form-horizontal sherpa-left-form">

    <%= form_for (@trip) do |f| %>

        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: 'form-control' %></br> </br>

        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: 'form-control' %></br> </br>

        <%= f.label :client_email %>
        <%= f.text_field :client_email, class: 'form-control' %></br> </br>

        <%= f.label :sherpa_owner %>
        <%= f.text_field :sherpa_owner, class: 'form-control' %></br> </br>

        <%= f.label :client_phone %>
        <%= f.text_field :client_phone, class: 'form-control' %></br> </br>

        <%= f.label :date_of_travel %>
        <%= f.date_select :date_of_travel, class: 'form-control' %></br> </br>
        <div class="center-block">
          <%= f.submit "Create Trip", class:"btn btn-sherpa-primary" %>
        </div>
    <% end %>

  </div>
</div>