<!--<div class="container col-md-8 col-md-offset-2">-->
  <div class="container ">
    <% if @trip != nil %>
        <img src="https://s3-us-west-2.amazonaws.com/topofthemontain/images/sherpa+Logo.png" class="logo_image">
        <p>Dear <%= @trip.first_name %>,</p>
        <p> <%= @trip.trip_message %></p>
        <p>Your Sherpa,<br><%= @trip.sherpa_owner %></p>
    <% end %>
  </div>

  <div class="container">
    <% if @trip.tripitems.count > 0 %>
      <% @trip.tripitems.each do |e| %>
          <div class="container-fluid jumbotron">
            <h5><%= e.activity_name %> @ <a href="#<%= e.location_url %>"><h5><%= e.location_name %></h5></a></h5> <br>
            <h5><%= e.activity_time %></h5><br>
            <h5><a href="#<%= e.activity_address_url %>"><h5><%= e.activity_address %></h5></a></h5> <br>
            <h5><strong>Sherpa Tip:</strong><%= e.sherpa_tip%></h5><br>
            <h5><strong>Reservation:</strong><%= e.reservation%></h5><br>
          </div>
      <% end %>
    <% end %>
  </div>

  <div class="container jumbotron">
    <%= render 'shared/tripitem_form' %>
  </div>

<!--</div>-->