 <div class="container ">
    <% if @trip != nil %>
        <p>Dear <%= @trip.first_name %>,</p>
        <p> <%= @trip.trip_message %></p>
        <p>Your Sherpa,<br><%= @trip.sherpa_owner %></p>
    <% end %>
  </div>

  <% if @trip.tripitems.count > 0 %>
    <% @trip.tripitems.each do |e| %>

        <% if e.id %>
          <div class="container jumbotron">
            <div class="col-md-4">
              <iframe
              width="300"
              height="300"
              frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyANV0kz7btLoCUc5yw7ndz_BqbHWkVtXjU
    &q=<%= e.activity_address %>" allowfullscreen>
              </iframe>
            </div>
            <div class="col-md-8 center-block text-left">
              <h2 style="white-space: nowrap"><%= e.activity_name %>@<a style="display: inline" href="<%= e.location_url %>"><h4><%= e.location_name %></h4></a></h2> <br>
              <% date_for_foramt = e.activity_time %>
            <h5><%= date_for_foramt.strftime("%A, %B %d, %Y - %I:%M %p") %> </h5>
            <a href="http://maps.google.com/?q=<%= e.activity_address %>"><h5><%= e.activity_address %></h5></a>
            <h5><strong>Sherpa Tip: </strong><%= e.sherpa_tip%></h5><br>
            <h5><strong>Reservation: </strong><%= e.reservation%></h5><br>
            <% if isCurrentAdminUser?(current_user) %>
              <div class="text-center">
                <button class="btn-sherpa-primary button_link"><%= link_to 'Edit Trip Item', edit_tripitem_path(e)%></button>
              </div>
            <% end %>
          </div>

          </div>
        <% end %>
    <% end %>

  <% end %>

  <% if isCurrentAdminUser?(current_user) %>
    <div class="container jumbotron">
      <%= render 'shared/tripitem_form'%>
    </div>

    <div class="container jumbotron center-block text-center">
      <h2>Admin Options</h2>
      <button class="btn-sherpa-primary button_link"><%= link_to 'Edit Trip Details', edit_trip_path(@trip)%></button>
      <button class="btn-sherpa-primary button_link"><%= link_to 'Send Itinerary', trips_send_itinerary_path(:id => @trip.id)%></button>

    </div>
  <% end %>