<div class="container jumbotron text-center">
  <h3>Sherpa Sign-Up</h3>
  <h2>Please Enter your information to Signup For a Sherpa Account</h2>
</div>

<div class="container jumbotron text-center center-block">
  <%= form_for @user do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control'%><br>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control'%><br>

      <% if isCurrentAdminUser?(current_user) %>
          <%= f.radio_button :user_type, 'regular', :checked => true %>
          <%= label :user_type_admin, 'regular' %>
          <%= f.radio_button :user_type, 'sherpa' %>
          <%= label :user_type_sherpa, 'sherpa' %>
          <%= f.radio_button :user_type, 'admin' %>
          <%= label :user_type_super_admin, 'admin' %>
      <% else %>

      <% end %>

      <br><%= f.submit 'Sign Up', class: 'btn btn-sherpa-primary' %>

  <% end %>
</div>


</div>
